# Node.js dependencies
node_modules/
package-lock.json
yarn.lock

# Vercel
.vercel/
.now/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS specific files
.DS_Store
Thumbs.db

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo

# Debug files
.node-version

# Build outputs
dist/
build/
out/

# Coverage directory used by testing tools
coverage/